


          <div id = "ingresos" value="<%= @incomes %>"></div>
          <div id = "gastos" value="<%= @expenses %>"></div>
         <div id = "proyectos" value="<%= @projects.to_json %>"></div>

            <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>Bienvenido<strong> <%= @freelance.email %></strong> </h2>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h2>Estadisticas <small>Asi se han comportado tus Proyectos </small></h2>
                        </div>

                        <!--<div class="card-body">
                            <div class="chart-edge">
                                <div id="curved-line-chart" class="flot-chart "></div>
                            </div>
                        </div> -->
                    </div>

                    <div class="mini-charts">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-bar"></div>
                                        <div class="count">
                                            <small>Proyectos Activos</small>
                                            <h2><%= @projects.count() %></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <div class="mini-charts-item bgm-purple">
                                    <div class="clearfix">
                                        <div class="chart stats-bar-2"></div>
                                        <div class="count">
                                            <small>Total Ingresos</small>
                                            <h2>$<%= @incomes %></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line"></div>
                                        <div class="count">
                                            <small>Total Gastos</small>
                                            <h2>$<%= @expenses %></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4 col-md-offset-4">
                                <div class="mini-charts-item bgm-bluegray">
                                    <div class="clearfix">
                                        <div class="chart stats-line-2"></div>
                                        <div class="count">
                                            <small>Clientes</small>
                                            <h2><%= @freelance.clients.count %></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class = "row">
                        <div class = "col-sm-12">
                                <div class = "col-sm-6">
                            <div class = "card">
                            <canvas id="myChart" width="400" height="350"></canvas>
                        </div>
                        </div>
                            <div class = "col-sm-6">
                                <div class = "card">
                                    <canvas id="line-chart" width="400" height="350"></canvas>
                                </div>
                                
                            </div>
                        </div>
                      

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Recent Items -->
                            <div class="card">
                                <div class="card-header">
                                    <h2>Lista de Proyectos <small>Lista de proyectos activos</small></h2>
                                </div>

                                <div class="card-body m-t-0">
                                    <table class="table table-inner table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th style="width: 60px">Precio</th>
                                                <th style="width: 60px">detalles</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @projects.each do |proj| %>
                                                <tr>
                                            
                                                <td class="f-500 c-cyan"><%=proj.id %></td>
                                                <td><%=proj.name %></td>
                                                <td class="f-500 c-cyan"><%=proj.total_price %></td>
                                                <td><a href ="<%= projects_path%>/<%= proj.id%>" class="btn bgm-lightblue waves-effect"><i class="zmdi zmdi-apps"></i></a></td>
                                             
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="recent-items-chart" class="flot-chart"></div>
                            </div>
                        </div>

                        

                        </div>

                      
                        
                        <div class="col-sm-6">
                          
                            <!-- Recent Posts -->
                            <div class="card">
                                <div class="card-header">
                                    <h2>Lista de clientes <small>Tus clientes Actuales</small></h2>
                                   
                                </div>

                                <div class="card-body">
                                    <div class="list-group">
                                        <% @freelance.clients.each do |cli| %>
                                            <a class="list-group-item media" href="<%= clients_path%>/<%=cli.id%>">
                                            <div class="pull-left">
                                                <img class="lgi-img" src="img/demo/profile-pics/<%=cli.id % 4 %>.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lgi-heading"><%= cli.name %></div>
                                                <% projThis = cli.projects.find_by(freelance_id:@freelance.id) %>
                                                <% if projThis %>
                                                    <small class="lgi-text"><%= projThis %></small>
                                                    <% else %>
                                                        <small class="lgi-text">No tiene proyectos asignados</small>
                                                <%end %>
                                            
                                            </div>
                                        </a>

                                        <% end%>
                                        
                                        <a class="view-more" href="/clients">Ver Todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


</div>

