<div id="page-content-wrapper"  class=" col-sm-9 col-sm-offset-3">
    <div class="card">
        <div class="card-header">
            <h2>Lista de Clientes
                <small>Clientes Actualmente creados por el usuario</small>
            </h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Nombre usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <div id= "MARCA" style="display:none"></div>
                    <% @clients.each do |cli| %>
                    <tr>
                        <td><%= cli.id %></td>
                        <td><%= cli.name %></td>
                        <td><%= cli.surname %></td>
                        <td><%= cli.email %></td>
                        <td><%= cli.username %></td>
                        <td>
                            <a class="btn bgm-teal waves-effect" href = "<%= clients_path%>/<%= cli.id%>/edit"><i class="zmdi zmdi-edit"></i></a> 
                            <form action = "clients/details" method="post" style="display:inline">
                                <input type="text" name="id" value="<%= cli.id %>" style="display:none">
                                <button type="submit" class="btn bgm-teal waves-effect"><i class="zmdi zmdi-eye"></i></button>
                            </form>
                            <% valuePath= clients_path.to_s + "/" + cli.id.to_s %>
                            <%= link_to valuePath, class: "btn btn-danger waves-effect", method: :delete,data: { confirm: 'Estas seguro de eliminar?' } do %>
                            <i class="zmdi zmdi-close"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <!-- Formulario -->
        <%= form_for(@freelance.clients.new) do |f| %>
        <input type="text" name="freelance_id" value="<%= @freelance.id %>" style="display:none"> 
        <div class="card-header">
            <h2>Crear Nuevo
                <small>Crea un nuevo cliente
                </small>
            </h2>
        </div>
        <div class="card-body card-padding">
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Nombre</label>
                <input name="name" type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ingrese el nombre">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Apellido</label>
                <input name="surname" type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ingrese el apellido">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Correo Electrónico</label>
                <input name="email" type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ingrese el correo electrónico">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Nombre de usuario</label>
                <input name="username" type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ingrese el nombre de usuario">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Contraseña</label>
                <input name="password" type="password" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ingrese la contraseña">
            </div>
            <div class="form-group fg-line">
                <label for="exampleInputEmail1">Confirmar contraseña</label>
                <input name="confirm_password" type="password" class="form-control input-sm" id="exampleInputEmail1" placeholder="Confirme la contraseña">
            </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-success btn-block waves-effect">Crear</button>
    </div>
    <% end %>
</div>



