<%= render "partials/header" %>


<%= render "partials/side_freelance" %>

<div id="page-content-wrapper"  class=" col-sm-9 col-sm-offset-3">

<div class = "card col-sm-12">
    <div class = "card-block col-sm-12">
        <div class = "card-body card-padding col-sm-12">
            <%= form_for :project, url: project_path(@project), method: :patch do |f| %>
            
                    <input type="text" value="<% @project.id%>" style="display:none">
        
                <div class = "col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input name="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="<%= @project.name %>" required>
                    </div>
                </div>
                                            
              <div class = "col-sm-8">

                <div class="form-group">
                    <label for="exampleInputEmail1">Descripcion</label>
                    <input name="description" type="text" class="form-control" id="exampleInputEmail1" placeholder="descripcion" value="<%= @project.name %>" required>
                </div>

              </div>
                                               
              <div class="col-sm-4">
                <div class="form-group fg-line">
                    <label>Fecha inicio</label>
                    <input name="start_date" type="text" class="form-control input-mask" data-mask="00/00/0000" placeholder="eg: 23/05/2014" autocomplete="off" value="<%= @project.start_date %>">
                </div>
            </div>


              <div class="col-sm-4">
                <div class="form-group fg-line">
                    <label>Fecha inicio</label>
                    <input name="end_date" type="text" class="form-control input-mask" data-mask="00/00/0000" placeholder="eg: 23/05/2014" autocomplete="off" value="<%= @project.start_date %>">
                </div>
            </div>


                <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Precio</label>
                <input name="total_price" type="number" class="form-control" id="exampleInputEmail1" placeholder="Precio" value="<%= @project.total_price %>"  required>
              </div>
                </div>

        
                     <div class="col-sm-4">
                        <div class="form-group">
                <label for="sel1">Cliente</label>
                <select name="client_id" class="form-control" id="sel1">
                    <% @freelance.clients.each do |c| %>
                        <option value="<%=c.id %>"><%=c.username %></option>
                    <%end%>
                </select>
                </div>
                     </div>
                      <div class="col-sm-4">
                      <div class="form-group">
                <label for="sel1">Estado</label>
                <select name="state_id" class="form-control" id="sel1"  required>
                    <% @states.each do |s| %>
                        <option value="<%=s.id %>"><%=s.name %></option>
                    <%end%>
                </select>
                </div>
                     </div>
                      <div class="col-sm-4">
                      <div class="form-group">
                <label for="sel1">Tipo</label>
                <select name="type_id" class="form-control" id="sel1" required>
                    <% @types.each do |t| %>
                        <option value="<%=t.id %>"><%=t.name %></option>
                    <%end%>
                </select>
                </div>
                     </div>

              <div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group" role="group">
					<a href="<% projects_path %>" type="button" class="btn btn-default">Cerrar</a>
				</div>
    
				<div class="btn-group" role="group">
                    
					<button type="submit"  class="btn btn-default btn-hover-green" data-action="save" role="button">Guardar</button>
				</div>
			</div>

            <% end %>
        </div>
    </div>
</div>

</div>

<%= render "partials/footer" %>



<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
