<%= render "partials/header" %>

 <div class="card">
                        <div class="card-header">
                            <h2>Striped rows
                                <small>Add zebra-striping to any table row within the tbody</small>
                            </h2>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>

                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                    <th>Precio</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% @projects.each do |proj| %>
                                    <tr>
                                        <td><%= proj.id %></td>
                                        <td><%= proj.name %></td>
                                        <td><%= proj.description %></td>
                                        <td><%= proj.start_date %></td>
                                        <td><%= proj.end_date %></td>
                                        <td><%= proj.total_price %></td>
                                        <td><button class="btn bgm-teal waves-effect"><i class="zmdi zmdi-edit"></i></button> <button class="btn btn-danger waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                <% end %>
                                
                              
                                </tbody>
                            </table>
                        </div>
    </div>

<!-- Formulario -->
<div class="card">
                        <div class="card-header">
                            <h2>Crear Nuevo
                                <small>Crea un nuevo proyecto
                                </small>
                            </h2>
                        </div>

                        <div class="card-body card-padding">
                            
                            <br/><br/>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Nombre" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-sort-amount-desc"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Descripcion" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group form-group">
                                    <label>Fecha Inicio</label>
                                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                        <div class="dtp-container">
                                            <input type="text" class="form-control date-picker" placeholder="Fecha Inicio">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group form-group">
                                    <label>Fecha Final</label>
                                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                        <div class="dtp-container">
                                            <input type="text" class="form-control date-picker" placeholder="Fecha Fin">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group fg-line">
                                        <label>Precio</label>
                                        <input type="text" class="form-control input-mask" data-mask="000.000.000.000.000,00" placeholder="eg: 000.000.000.000.000,00" autocomplete="off">
                                    </div>
                                </div>
                                
                              
                                
                                
                                    
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Landscape">
                                        </div>
                                        <span class="input-group-addon last"><i class="zmdi zmdi-landscape"></i></span>
                                    </div>

                                    <br/>

                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Weather">
                                        </div>
                                        <span class="input-group-addon last"><i class="zmdi zmdi-sun"></i></span>
                                    </div>

                                    <br/>

                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Flight">
                                        </div>
                                        <span class="input-group-addon last"><i class="zmdi zmdi-airplane"></i></span>
                                    </div>

                                    <br/>

                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Location">
                                        </div>
                                        <span class="input-group-addon last"><i
                                                class="zmdi zmdi-my-location"></i></span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-arrow-missed"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Internet">
                                        </div>
                                        <span class="input-group-addon last"><i class="zmdi zmdi-globe"></i></span>
                                    </div>

                                    <br/>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Notifications">
                                        </div>
                                        <span class="input-group-addon last"><i
                                                class="zmdi zmdi-plus-circle-o"></i></span>
                                    </div>

                                    <br/>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Layers">
                                        </div>
                                        <span class="input-group-addon last"><i class="zmdi zmdi-layers "></i></span>
                                    </div>

                                    <br/>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-portable-wifi"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="Messages">
                                        </div>
                                        <span class="input-group-addon last"><i class="zmdi zmdi-dialpad"></i></span>
                                    </div>
                                </div>
                            </div>

                            <br/><br/>
                            <p class="c-black f-500 m-b-5 m-t-20">Floating Labels</p>
                            <small>Basic example for input groups with floating labels</small>

                            <br/>
                            <br/>
                            <br/>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group fg-float">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control">
                                            <label class="fg-label">Full Name</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group fg-float">
                                        <div class="fg-line">
                                            <input type="text" class="form-control">
                                            <label class="fg-label">Location</label>
                                        </div>
                                        <span class="input-group-addon last"><i
                                                class="zmdi zmdi-my-location"></i></span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group fg-float">
                                        <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
                                        <div class="fg-line">
                                            <input type="text" class="form-control">
                                            <label class="fg-label">Layers</label>
                                        </div>
                                        <span class="input-group-addon last"><i class="zmdi zmdi-layers "></i></span>
                                    </div>
                                </div>
                            </div>


                            <br/>

                            <p class="c-black f-500 m-b-5 m-t-20">Different Sizes</p>
                            <small>You may use the extra sizing classes to change size of the feilds.</small>

                            <br/><br/>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="zmdi zmdi-sun"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control input-lg" placeholder="Weather">
                                </div>
                            </div>

                            <br/>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-sun"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="Weather">
                                </div>
                            </div>

                            <br/>

                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="zmdi zmdi-sun"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" placeholder="Weather">
                                </div>
                            </div>
                        </div>

                        <br/>
                    </div>



<%= render "partials/footer" %>

