<%= render "partials/header" %>
<%= render "partials/side_freelance" %>
<div id="page-content-wrapper"  class=" col-sm-9 col-sm-offset-3">
    <div class="card">
        <div class="card-header">
            <h2>Lista de Items
                <small>Items Correspondientes al projecto <h4><%=@project.name %></h4></small>
            </h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>

                    <tr>
                        <th>#</th>

                        <th>Descripcion</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <div id = "MARCA" style="display:none"></div>
                    <% @items.each do |ite| %>
                    <tr>
                        <td><%= ite.id %></td>
                        <td><%= ite.description %></td>
                        <td>$ <%= ite.price %></td>

                        <td> 
                            <% valuePath = projects_path + '/' +  @project.id.to_s + items_path + "/" + ite.id.to_s %>
                            <%= link_to valuePath, class: "btn btn-danger waves-effect", method: :delete,data: { confirm: 'Estas seguro de eliminar?' } do %>
                            <i class="zmdi zmdi-close"></i>
                            <% end %>


                        </td>


                    </tr>

                    <% end %>


                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <!-- Formulario -->
        <%= form_for(@project.items.new) do |f| %>
        <input type="text" name="project_id" value="<%= @project.id %>" style="display:none">
        <div class="card-header">
            <h2>Crear Nuevo
                <small>Crea Nuevos Item
                </small>
            </h2>
        </div>
        <div class="card-body card-padding">
           <div class="form-group fg-line">
            <label for="exampleInputEmail1">Descripción</label>
            <input name="description" type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ingrese la descripción del item">
        </div>           
        <div class="form-group fg-line">
            <label for="exampleInputEmail1">Precio</label>
            <input name="price" type="text" class="form-control input-sm input-mask" id="exampleInputEmail1" data-mask="000.000.000.000.000,00" placeholder="Ingrese el precio">
        </div>
        <br/>
        <button type="submit" class="btn btn-success btn-block waves-effect">Crear</button>
    </div>
    <% end %>
</div>
</div>



