<div id='exchange_param' data-action-url="<%= @support.id %>">
</div>

<!-- Codigo css propio -->


<style> 
.mblm-item-right>div {
    background-color: #e91e63!important;
    color: #fff;
}
</style>
<style>
    .checkbox input:checked+.input-helper:before {
        background-color: #E91E63!important;
    }
    .checkbox input:checked+.input-helper:before, .radio input:checked+.input-helper:before {
        border-color: #e91e63;
    }
    .radio .input-helper:after {
        background: #e91e63;
    }
    .btn-file{
        background: #e91e63!important;
    }
</style>


<section id="content">
                <div class="container">
<div class="container container-alt">
                    <div class="messages card">
                        

                        <div class="m-body" style="padding-left: 0px">
                            <header class="mb-header">
                                <div class="mbh-user clearfix">
                                    
                                    <div class="p-t-5" style="text-transform: uppercase;">Chat Soporte <strong><%= @chat_usr_name %></strong><br>
                                    Bienvenido <%if freelance_signed_in? %>
                                    Freelance
                                    <input id="SENDER" value ="true" hidden> 
                                    <% else %>
                                    <% if client_signed_in? %>
                                    Cliente
                                    <input id="SENDER" value ="false" hidden> 
                                    <% end %>
                                    <% end %>
                                    </div>
                                </div>

                                <ul class="actions">
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-refresh-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Contact Info</a>
                                            </li>
                                            <li>
                                                <a href="">Mute</a>
                                            </li>
                                            <li>
                                                <a href="">Clear Messages</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </header>

                            <div class="panel-mensajes" id="panel-mensajes" style="    height: 70%;   overflow-y:height: 70%;overflow-y: overlay;padding: 20px 20px 0px 20px!important;">

                                                          
                                    <% @support.messages.each do |mess| %>
                                        <% if mess.sender_type == true %>
                                         
                                            
                                             <div class="mblm-item mblm-item-left">
                                        <div>
                                            <%= mess.body %>
                                        </div>
                                        <small><%= mess.created_at %></small>
                                </div>
                                
                                        <% else %>
                                                       <div class="mblm-item mblm-item-right">
                                        <div>
                                            <%= mess.body %>
                                        </div>
                                        <small><%= mess.created_at %></small>
                                </div>
                                        <% end %>
                                    <% end %>
            
                                
                               
                                
                                
                            </div>
                                
                                
                                <div class="message-input mbl-compose">
                                    <div class="wrap">
                                    <textarea name="contenido" placeholder="Escribe un mensaje..." style="width: 90%"></textarea>
                                    <button id="btn-sbumit-chat" class="submit"><i class="zmdi zmdi-mail-send"></i></button>
                                    </div>
                                </div>
    
                                <!--   
                                <div class="mbl-compose">
                                    
                                    
                                    <input type="text" name="idsolicitud" value="{{$idsolicitud}}" hidden="">
                            
                                  
                                    
                                    
                                    <input type="text" name="tipo" value="{{USUARIO}}" hidden="">
                                    
                                    <textarea name="contenido" placeholder="Escribe un mensaje..." style="width: 90%"></textarea>
                                    <button id="btn-sbumit-chat" type="submit" onclick="$('#btn-sbumit-chat').hide()"><i class="zmdi zmdi-mail-send"></i></button>
                                                                     
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
</section>
</div>

<script>

    function bajarChat(){
        var objDiv = document.getElementById("panel-mensajes");
objDiv.scrollTop = objDiv.scrollHeight;
    }
    
    (function() {
   bajarChat();

})();
</script>


<!-- importanto codigo propio -->
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<%= javascript_include_tag 'cable' %>
<%= javascript_include_tag 'supports-show', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'channels/support', 'data-turbolinks-track': 'reload' %>
